<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SAML Redirect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center">
        <span>Redirecting.....<br></span>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Redirecting...</span>
        </div>
    </div>
<script>window.onload = function () {
    document.forms[0].submit()
};</script>
<form th:action="*{assertionUrl}" th:object="${saml}" method="post">
    <input type="hidden" id="SAMLResponse" name="SAMLResponse" th:field="*{samlResponse}"><br>
</form>
</div>
</body>
</html>
